<section xmlns="http://www.w3.org/1999/xhtml">
	<div ng-if="!match.hasAccepted" class="alert alert-success alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		You've been invited by <strong>{{ players[match.inviting_player].user.username }}</strong> to participate in their match. Please hit the button below to accept the invitation. You have <strong>{{ match.deadlineResponseLeft }}</strong> to respond.
	</div>
	<div ng-if="match.hasAccepted" class="alert alert-success alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		You have accepted the invitation by <strong>{{ players[match.inviting_player].user.username }}</strong> to participate in their match. Please wait for the other players to join the match too.
	</div>

	<section class="list-group">
		<a ng-repeat="(pPk, acc) in match.accepted"
			ng-href="#/profile/{{ pPk }}"
			class="list-group-item {{ acc ? 'list-group-item-success' : 'list-group-item-info' }}">
			<player-icon player="players[pPk]"
				class-icon="player-icon-accept"
				class-btn="btn-primary"></player-icon>
			{{ players[pPk].user.username }}
			<span ng-if="acc" class="glyphicon glyphicon-ok-sign icon-accepted"></span>
			<span ng-if="!acc" class="glyphicon glyphicon-question-sign icon-accepted"></span>
		</a>
	</section>

	<div class="alert alert-info alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		The game will last a total of <strong>{{ match.total_rounds }} rounds</strong> with a timeout of <strong>{{ timeout }} hours</strong>.
	</div>

	<div ng-if="!match.hasAccepted" class="btn-group btn-group-justified btn-group-lg btn-group-accept">
		<div class="btn-group btn-group-lg">
			<button ng-click="respond(true)" class="btn btn-success">
				<span class="glyphicon glyphicon-ok-sign"></span>
				Accept
			</button>
		</div>
		<div class="btn-group btn-group-lg">
			<button ng-click="respond(false)" class="btn btn-danger">
				<span class="glyphicon glyphicon-remove-sign"></span>
				Decline
			</button>
		</div>
	</div>
</section>