<section xmlns="http://www.w3.org/1999/xhtml">
	<h2>Reset password</h2>

	<form id="forgot" name="myform" novalidate="novalidate" ng-submit="reset()" role="form" class="form">
		<div class="form-group">
			<label class="sr-only" for="name">User name:</label>
			<input type="text" id="username" name="username" placeholder="Name" ng-model="username" ng-required="true" class="form-control" />
		</div>
		<p ng-show="myform.username.$invalid &amp;&amp; myform.username.$touched" class="alert alert-warning" role="alert">
			Name is required
		</p>

		<div class="form-group">
			<label class="sr-only" for="email">Email:</label>
			<input type="email" id="email" name="email" placeholder="Email" ng-model="email" ng-required="true" class="form-control" />
		</div>
		<p ng-show="myform.email.$invalid &amp;&amp; myform.email.$touched" class="alert alert-warning" role="alert">
			Must be a valid email
		</p>

		<button type="submit" ng-disabled="myform.$invalid" class="btn btn-primary btn-lg btn-block">
			<span class="glyphicon glyphicon-log-in"></span>
			Reset password
		</button>
	</form>

	<p class="alert alert-info" role="alert">
		Remember your password? <a href="#/login" class="btn btn-default">Login!</a>
	</p>
</section>