<section xmlns="http://www.w3.org/1999/xhtml" class="newmatch">
	<h2>New Match</h2>
	<ul class="friends-list">
		<li ng-repeat="(key, player) in players | orderBy : name"
			ng-hide="player.selected"><a ng-click="addPlayer(key)">{{
				player.name }} {{ player.uid }}</a></li>
	</ul>
	<h2>Selected</h2>
	<ul>
		<li ng-repeat="(key, player) in selected | orderBy : name"><a
			ng-click="removePlayer(key)">{{ player.name }} {{ player.uid }}</a></li>
	</ul>
	<button ng-click="sendInvite()" class="btn button"
		ng-disable="numPlayers < 2">Send invites</button>
</section>