<section xmlns="http://www.w3.org/1999/xhtml">
	<ul>
		<li><a ng-href="#/overview">Overview</a></li>
	</ul>
	<h2>New Match</h2>
	<ul>
		<li ng-repeat="player in players" ng-hide="player.selected">
			<a ng-click="addPlayer(player)">{{ player.name }}</a>
		</li>
	</ul>
	<h2>Selected</h2>
	<ul>
		<li ng-repeat="(id, player) in selected">
			<a ng-click="removePlayer(player)">{{ player.name }}</a>
		</li>
	</ul>
	<button ng-click="createMatch()" ng-disable="numPlayers < 2">Send invites</button>
</section>