<section class="player-list">
	<h1>Dixit</h1>
	<h2>Users</h2>

	<button class="btn btn-primary" ng-click="loadPlayers()">
		<span class="glyphicon glyphicon-user"></span>&xA0;Load players
	</button>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Edit</th>
				<th>Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="player in players">
				<td><a class="btn btn-primary" href="#/player/{{ player.id }}">{{
						player.id }}</a></td>
				<td>{{ player.name }}</td>
				<td>{{ player.email }}</td>
			</tr>
		</tbody>
	</table>
</section>