<section xmlns="http://www.w3.org/1999/xhtml">
	<h2>Register</h2>

	<p class="alert alert-info" role="alert">
		Already registered? <a href="#/login" class="btn btn-default">Login!</a>
	</p>

	<form id="register" name="myform" novalidate="novalidate" ng-submit="register()" role="form" class="form">
		<div class="form-group">
			<label class="sr-only" for="username">User name:</label>
			<input type="text" id="username" name="username" placeholder="Name" ng-model="player.username" ng-required="true" class="form-control" />
		</div>
		<p ng-show="myform.username.$invalid &amp;&amp; myform.username.$touched" class="alert alert-warning" role="alert">
			Name is required
		</p>

		<div class="form-group">
			<label class="sr-only" for="email">Email:</label>
			<input type="email" id="email" name="email" placeholder="Email" ng-model="player.email" ng-required="true" class="form-control" />
		</div>
		<p ng-show="myform.email.$invalid &amp;&amp; myform.email.$touched" class="alert alert-warning" role="alert">
			Must be a valid email
		</p>

		<div class="form-group">
			<label class="sr-only" for="password">Password:</label>
			<input type="password" id="password" name="password" placeholder="Password" ng-model="player.password" ng-required="true" class="form-control" />
		</div>
		<p ng-show="myform.password.$invalid &amp;&amp; myform.password.$touched" class="alert alert-warning" role="alert">
			Password must be at least 6 characters long with one of each lowercase, uppercase letters, and digits
		</p>

		<button type="submit" ng-disabled="myform.$invalid" class="btn btn-primary btn-lg btn-block">
			<span class="glyphicon glyphicon-ok"></span>
			Register
		</button>
	</form>
</section>