<section xmlns="http://www.w3.org/1999/xhtml">
	<section class="panel panel-primary">
		<div class="panel-body">
			<blockquote class="quote-story">
				<p>{{ round.story }}</p>
			</blockquote>
		</div>
		<div class="panel-footer text-right">by <em>{{ players[round.storyteller].user.username }}</em></div>
	</section>
	<section>
		<h3>Correct image</h3>
		<div class="image-review-container">
			<div class="submitted-by-container">
				<player-icon player="players[round.storyteller]"
					class-btn="btn-primary btn-lg"></player-icon>
			</div>
			<img ng-src="{{ images[round.detailsPlayers[round.storyteller].image].file }}" class="img-responsive img-rounded image-review image-selected" />
			<div ng-if="round.votes[round.storyteller]"
				class="guessed-by-container">
				<player-icon ng-repeat="pPk in round.votes[round.storyteller]"
					player="players[pPk]"
					class-img="image-player-correct"
					class-btn="btn-success btn-lg"></player-icon>
			</div>
		</div>
	</section>
	<section>
		<h3>Other images</h3>
		<div ng-repeat="details in filterOutKey(round.detailsPlayers, round.storyteller)" class="col-lg-4 col-md-6 col-sm-12">
			<div class="image-review-container">
				<div class="submitted-by-container">
					<player-icon player="players[details.player]"
						class-btn="btn-primary btn-lg"></player-icon>
				</div>
				<img ng-src="{{ images[details.image].file }}" class="img-responsive img-rounded image-review" />
				<div ng-if="round.votes[details.player]"
					class="guessed-by-container">
					<player-icon ng-repeat="pPk in round.votes[details.player]"
						player="players[pPk]"
						class-img="image-player-incorrect"
						class-btn="btn-danger btn-lg"></player-icon>
				</div>
			</div>
		</div>
	</section>
	<section class="list-group clear-both">
		<div class="list-group-item active">
			<h4>Scores</h4>
		</div>
		<a ng-repeat="item in round.scoresArray | orderBy:'score':true"
			ng-href="#/profile/{{ item.playerPk }}"
			class="list-group-item">
			<span class="badge">{{ item.score }} points</span>
			<player-icon player="players[item.playerPk]"
				class-icon="player-icon-standings"
				class-btn="btn-primary"></player-icon>
			{{ players[item.playerPk].user.username }}
		</a>
	</section>
</section>