<section xmlns="http://www.w3.org/1999/xhtml">
	<section ng-if="round.story" class="panel panel-primary">
		<div class="panel-body">
			<blockquote class="quote-story">
				<p>{{ round.story }}</p>
			</blockquote>
		</div>
		<div class="panel-footer text-right">by <em>{{ players[round.storyteller].user.username }}</em></div>
	</section>
	<p ng-if="round &amp;&amp; !round.story" class="alert alert-danger alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		Unfortunately, <strong>{{ players[round.storyteller].user.username }}</strong> did not submit any story this round.
	</p>
	<section ng-if="round.story">
		<h3>Correct image</h3>
		<div class="image-review-container">
			<div class="submitted-by-container">
				<player-icon player="players[round.storyteller]"
					class-btn="btn-primary btn-lg"></player-icon>
			</div>
			<img src="default-placeholder.png"
				ng-src="{{ images[round.details[round.storyteller].image].url }}"
				class="img-responsive img-rounded image-review image-selected" />
			<div ng-if="round.votes[round.storyteller]"
				class="guessed-by-container">
				<player-icon ng-repeat="pPk in round.votes[round.storyteller]"
					player="players[pPk]"
					class-img="image-player-correct"
					class-btn="btn-success btn-lg"></player-icon>
			</div>
		</div>
	</section>
	<section ng-if="round.story &amp;&amp; otherDetailsSize">
		<h3>Other images</h3>
		<div ng-repeat="details in otherDetails" class="col-lg-4 col-md-6 col-sm-12">
			<div class="image-review-container">
				<div class="submitted-by-container">
					<player-icon player="players[details.player]"
						class-btn="btn-primary btn-lg"></player-icon>
				</div>
				<img src="default-placeholder.png"
					ng-src="{{ images[details.image].url }}"
					class="img-responsive img-rounded image-review" />
				<div ng-if="round.votes[details.player]"
					class="guessed-by-container">
					<player-icon ng-repeat="pPk in round.votes[details.player]"
						player="players[pPk]"
						class-img="image-player-incorrect"
						class-btn="btn-danger btn-lg"></player-icon>
				</div>
			</div>
		</div>
	</section>
	<section ng-if="round.status === 'f'" class="list-group clear-both">
		<div class="list-group-item active">
			<h4>Scores</h4>
		</div>
		<a ng-repeat="item in round.scoresArray | orderBy:'score':true"
			ng-href="#/profile/{{ item.playerPk }}/view"
			class="list-group-item">
			<span class="badge">{{ item.score }} points</span>
			<player-icon player="players[item.playerPk]"
				class-icon="player-icon-standings"
				class-btn="btn-primary"></player-icon>
			{{ players[item.playerPk].user.username }}
		</a>
	</section>
</section>