<section xmlns="http://www.w3.org/1999/xhtml" class="submit-image">
	<h2>Match {{ match.$id }}</h2>
	<section class="story" id="story" ng-show="round.story">
		<blockquote>
			<p>{{ round.story }}</p>
		</blockquote>
		<p>by {{ round.storyTellerId }}</p>
	</section>
	<section class="story-image" id="story-image">
		<p class="error formerror" ng-show="message">{{ message }}</p>
		<div class="buttons" ng-hide="round.image">
			<button class="button btn" ng-click="getImageFromCamera()">Take
				photo</button>
			<button class="button btn" ng-click="getImageFromLibrary()">Upload
				existing</button>
			<button class="button btn">Choose from gallery</button>
		</div>
		<img id="image" alt="Image" width="100%"
			ng-src="data:image/jpeg;base64,{{ imageData }}" />
		<textarea ng-model="round.story"></textarea>
		<button class="button btn" ng-disable="!imageData || !round.story">Submit</button>
	</section>
</section>