<section xmlns="http://www.w3.org/1999/xhtml">
	<section class="panel panel-primary">
		<div class="panel-body">
			<blockquote class="quote-story">
				<p>{{ round.story }}</p>
			</blockquote>
		</div>
		<div class="panel-footer text-right">by <em>{{ players[round.storyteller].user.username }}</em></div>
	</section>
	<div ng-if="round.isStoryTeller" class="alert alert-success alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		These are the other players' submissions, wait for them to vote now...
	</div>
	<div ng-if="round.readyForVote" class="alert alert-info alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		Select the right image! Remember, you cannot vote for your own image. You have <strong>{{ round.deadlineVotesLeft }}</strong> to submit your vote.
	</div>
	<div ng-if="round.hasVoted" class="alert alert-success alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		You have already voted in this round, now wait for the other players...
	</div>
	<div ng-if="!round.hasVoted" class="row">
		<div ng-repeat="image in round.images"
			class="col-lg-4 col-md-6 col-sm-12 container-{{ image == selectedImage.pk ? 'selected' : 'normal' }}">
			<a ng-click="selectImage(images[image])"
				class="select-image {{ image == round.playerDetails.image ? 'disabled' : '' }} image-vote-container">
				<span ng-show="image == selectedImage.pk" class="badge image-vote-badge">
					<span class="glyphicon glyphicon-star"></span>
				</span>
				<span ng-show="image == round.playerDetails.image" class="badge image-vote-badge">
					<span class="glyphicon glyphicon-user"></span>
				</span>
				<img src="default-placeholder.png"
					ng-src="{{ images[image].url }}"
					class="img-responsive img-rounded image-{{ image == selectedImage.pk ? 'selected' : image == round.playerDetails.image ? 'user' : 'normal' }}" />
			</a>
		</div>
	</div>
	<div ng-if="round.hasVoted" class="row">
		<div ng-repeat="image in round.images"
			class="col-lg-4 col-md-6 col-sm-12 container-normal">
			<div class="select-image image-vote-container">
				<span ng-show="image == round.playerDetails.vote" class="badge image-vote-badge">
					<span class="glyphicon glyphicon-star"></span>
				</span>
				<span ng-show="image == round.playerDetails.image" class="badge image-vote-badge">
					<span class="glyphicon glyphicon-user"></span>
				</span>
				<img src="default-placeholder.png"
					ng-src="{{ images[image].url }}"
					class="img-responsive img-rounded image-normal" />
			</div>
		</div>
	</div>
	<button ng-if="round.readyForVote"
		ng-click="submitVote()"
		ng-disabled="!round.readyForVote || !selectedImage"
		class="btn btn-primary btn-lg btn-block btn-submit-vote">
		<span class="glyphicon glyphicon-thumbs-up"></span>
		Vote
	</button>
</section>