* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	/*padding-bottom: 1em;*/
	background-color: #f0f0f0;
}

h2 {
	margin-top: 0;
}

.image-upload-wrapper {
	width: 90vmin;
	height: 90vmin;
	margin: 1em auto;
}

.image-upload {
	max-width: 100%;
}

.image-normal, .image-selected {
	border-style: solid;
	border-width: 2px;
	border-color: #000;
}

.image-selected {
	border-color: #F00;
}

.form {
	margin-bottom: 1em;
}

.text-right {
	text-align: right;
}

.quote-story {
	margin-bottom: 0;
}
